@{
    ViewBag.Title = "About";
}
<h2>About </h2>
<h3>Podcasts aggregator provides a list of the latest shows on developer technologies!</h3>

<p>App running here: <a href="http://podcasts-agregator.apphb.com/">Live version</a></p>
